h1{
    color: blue;
    font-family: cursive;
    background-color:rosybrown ;
}
p{
    color: rgb(81, 22, 137);
    background: tan;

}
button{
    color: forestgreen;
    background-color: chartreuse;
}